<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.myapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Minesweeper</name>
    <description>
        Minesweeper is a timeless puzzle and strategy game where your goal is to clear a grid of hidden mines without detonating any.
    </description>
    <author email="titarenkoborisandreevich@ya.ru" >
        Boris Titarenko
    </author>
    <platform name="android">
        <preference name="AutoHideSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="300" />
        <preference name="AndroidWindowSplashScreenBackground" value="#2e2e2e" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="assets/images/cartoon-bomb.png" />
    </platform>
    <content src="browser/index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
