<div class="mines-container" [style.gridTemplateColumns]="'repeat(' + gameService.cols() + ', var(--s))'">
  @for (cell of gameService.cells(); track cell.id) {
    <div 
      (click)="handleCellClick(cell)" 
      (contextmenu)="handleCellRightClick($event, cell)"
      [class.revealed]="cell.isRevealed" 
      [class.mine]="cell.isRevealed && cell.isMine" 
      [class.flagged]="cell.isFlagged"
      [class.defused]="cell.isDefused"
      class="relative {{gameService.gameID() ? 'animate-bounce-in' : ''}}"
    >
      @if (cell.isRevealed && !cell.isMine && cell.adjacentMines > 0) {
        <span>{{ cell.adjacentMines }}</span>
      }
      @if (cell.isRevealed && cell.isMine && !cell.isFlagged && !cell.isDefused) {
        <span>
          @defer (on timer(2000ms)) {
            <img src="./assets/images/black-bomb.svg" alt="bomb" class="h-7.5 w-7.5 animate-bounce-in" />
          } @placeholder {
          <img src="./assets/images/placidplace-explosion-14627_512.gif" alt="bomb"
            class="absolute max-w-[10rem] -left-[3.5rem] bottom-0" />
          }
        </span>
      }
      @if (cell.isRevealed && cell.isMine && !cell.isFlagged && cell.isDefused) {
        <span>
          <img src="./assets/images/black-bomb.svg" alt="bomb" class="h-7.5 w-7.5 animate-bounce-in" />
        </span>
      }
      @if (cell.isRevealed && cell.isMine && cell.isFlagged) {
        <span>
          <img src="./assets/images/black-bomb.svg" alt="bomb" class="h-7.5 w-7.5" />
        </span>
      }
      @if (!cell.isRevealed && cell.isFlagged) {
        <span>
          <img src="./assets/images/flag-svgrepo-com-white.svg" alt="bomb" class="h-7.5 w-7.5" />
        </span>
      }
    </div>
  }
</div>