<div id="sticky-sidebar-container" class="w-full lg:min-w-[20rem] flex flex-col lg:items-start items-center lg:block justify-center">
  <div class="flex flex-col w-full items-center">
    <div class="toc min-h-[5rem] flex items-center justify-center uppercase text-[2rem] px-5 engraved-text">
      Minesweeper
    </div>
    <div class="flex w-full items-center gap-4 justify-center">
      <div 
        class="toc px-3 text-[2rem] text-center max-w-[10rem] mx-auto engraved-text"
        [upCustomTooltip]="'common.time' | translate"
      >
        {{ formattedDuration }}
      </div>

      <button 
        class="control-button toc mx-auto" (click)="onNewGameClick()"
        [upCustomTooltip]="'common.reset' | translate"
      >
        <img src="./assets/images/icons8-refresh.svg" alt="refresh" class="min-w-[2rem] w-[2rem]" preload />
      </button>

      <button 
        class="control-button toc mx-auto {{soundService.isSoundEnabled() ? '' : 'opacity-50'}}" 
        (click)="toggleSound()"
        [upCustomTooltip]="(soundService.isSoundEnabled() ? 'common.disable_sound_effects' : 'common.enable_sound_effects') | translate"
      >
        @if (!soundService.isSoundEnabled()) {
          <img src="./assets/images/speaker-low-volume.svg" alt="low-volume" class="min-w-[2rem] w-[2rem] grayscale-50" preload />
        } @else {
          <img src="./assets/images/speaker-high-volume.svg" alt="high-volume" class="min-w-[2rem] w-[2rem] grayscale-50" preload />
        }
      </button>

      <button 
        class="control-button toc mx-auto {{gameService.isSettingsOpen() ? 'opacity-50' : ''}}" 
        (click)="gameService.openSettings()"
        [upCustomTooltip]="'common.open_settings' | translate"
      >
        <img src="./assets/images/icons8-settings.svg" alt="settings" class="min-w-[2rem] w-[2rem]" preload />
      </button>

      <button 
        class="relative control-button toc mx-auto {{radioService.isRadioOpen() ? 'opacity-50' : ''}}" 
        (click)="radioService.toggleRadio()"
        [upCustomTooltip]="'common.open_radio' | translate"
      >
        <img src="./assets/images/media-color-2-headphones-svgrepo-com.svg" alt="stop-radio" class="min-w-[2rem] w-[2rem]" preload />
        @if (radioService.isRadioPlayed()) {
          <img src="./assets/images/cb17b80a942d7c317a35ff1324fae12f.gif" alt="playing-radio" class="z-[1] w-[90%] absolute lg:left-0.5 left-1 right-1 lg:bottom-[-40%] bottom-[-25%]" preload />
        }
      </button>
    </div>
    <div class="flex w-full items-center gap-4 justify-center">
      <button 
        class="control-button toc mx-auto {{gameService.isInfoOpen() ? 'opacity-50' : ''}}" (click)="gameService.openInfo()"
        [upCustomTooltip]="'common.how_to_play' | translate"
      >
        <img src="./assets/images/info.svg" alt="bomb" class="min-w-[2rem] w-[2rem]" preload />
      </button>
      
      <button 
        class="control-button toc mx-auto {{gameService.isGameStatsOpen() ? 'opacity-50' : ''}}" (click)="gameService.openGameStats()"
        [upCustomTooltip]="(gameService.isGameStatsOpen() ? 'common.close_statistic' : 'common.open_statistic') | translate"
      >
        <img src="./assets/images/statistic-grow-svgrepo-com.svg" alt="bomb" class="min-w-[2rem] w-[2rem]" preload />
      </button>

      <button 
        class="control-button toc mx-auto {{gameService.isExplosionUsed() ? 'opacity-50' : ''}}" (click)="onExplosionClick()"
        [upCustomTooltip]="(gameService.isExplosionUsed() ? 'common.help_used' : 'common.help') | translate"
      >
        <img src="./assets/images/help-operator-svgrepo-com.svg" alt="bomb" class="min-w-[2rem] w-[2rem]" preload />
      </button>
    
      <button 
        class="control-button toc mx-auto {{gameService.isDefuseActive() || gameService.isDefuseToolUsed() ? 'opacity-50' : ''}}" (click)="onDefuseClick()"
        [upCustomTooltip]="
          (gameService.isDefuseToolUsed() 
            ? 'common.defuse_kit_used' 
            : gameService.isDefuseActive() 
              ? 'common.defuse_kit_disable' 
              : 'common.defuse_kit_enable') 
          | translate"
      >
        <img src="./assets/images/tools-svgrepo-com.svg" alt="bomb" class="min-w-[2rem] w-[2rem]" preload />
      </button>
    </div>
  </div>
  <div id="sticky-sidebar-stuff">
    <div class="w-full toc p-4 inner-light-shadow flex items-start justify-center flex-row gap-10 lg:gap-0 lg:flex-col">
      <div class="status-line flex items-center hidden lg:flex w-full justify-between">
        <span>
          {{'common.total_mines' | translate}} 
        </span>
        <span>
          {{ gameService.totalMines() }} 
        </span>
      </div>
      <div class="flex items-center lg:hidden text-[1.5rem]">
        <img src="./assets/images/set-boom-svgrepo-com.svg" alt="mines" class="min-w-[2rem] w-[2rem] mr-1" preload />
        {{ gameService.totalMines() }} 
      </div>
      <div class="status-line flex items-center hidden lg:flex w-full justify-between">
        <span>
          {{'common.total_flags' | translate}}  
        </span>
        <span>
          {{ gameService.flagsCount() }}
        </span>
      </div>
      <div class="flex items-center lg:hidden text-[1.5rem]">
        <img src="./assets/images/flag-svgrepo-com.svg" alt="flags" class="min-w-[2rem] w-[2rem] mr-1" preload />
        {{ gameService.flagsCount() }}
      </div>
      <div class="status-line flex items-center hidden lg:flex w-full justify-between">
        <span>
          {{'common.total_mines_without_flags' | translate}} 
        </span>
        <span>
          {{ gameService.remainingMines() }}
        </span>
      </div>
      <div class="flex items-center lg:hidden text-[1.5rem]">
        <img src="./assets/images/ball-boom-game-svgrepo-com.svg" alt="maybe-mines" class="min-w-[2rem] w-[2rem] mr-1" preload />
        {{ gameService.remainingMines() }}
      </div>
    </div>
  </div>
</div>